<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "Podcast.fm", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Explore", podcasts_path %></li>
          <li><%= link_to "Sign In", new_podcast_session_path %></li>
          <li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite <span class="responsive_break">podcast, or create your own.</span></h1>
    <%= link_to "Create a Podcast", new_podcast_registration_path, class: "button button_highlight" %>
    <%= link_to "Explore", podcasts_path, class: "button button_white" %>

    <div class="disclaimer">
      <h3>***Important***</h3>
      <p>This website is simply for practice and therefore has limited capabilities. Yes, a podcast website without the ability to upload mp3s is strange but the functionality of the website was the focus. Due to issues with Herkoku image uploading you may notice a podcast or episode is missing a picture or will be missing a picture a while after uploading one yourself. It's fine. The purpose of this site is to show a website capable of the basic functions necessary.</p>
    </div>
  </div>
</div>