<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "Podcast.fm", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Explore", root_path %></li>
          <li><%= link_to "Sign In", root_path %></li>
          <li><%= link_to "Create a Podcast", root_path %></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Explore", root_path %></li>
          <li><%= link_to "Sign Out", root_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite <span class="responsive_break">podcast, or create your own.</span></h1>
    <%= link_to "Create a Podcast", root_path, class: "button button_highlight" %>
    <%= link_to "Explore", root_path, class: "button button_white" %>
  </div>
</div>